
.navbar {
    width: 100%;
    height: auto; /* defina uma altura */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    align-items: center;
    display: flex;
    justify-content: space-between;
    border-bottom: dashed;
}




body {
    padding-top: 56px;

    background-color: #FAFAFA;

 
  }
  
  h1 {
    color: green;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

